<html>
<meta charset="utf-8">
<head>
            {{sndmap.js}}
	    <script src="//maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="screen">   

</head>
<body id="page1">
	<!--==============================header=================================-->
		<header>
			<div class="main">
				<div class="wrapper">
					<h1>
						<a href="/">Avici</a>
						<strong>Gestionando Servicios</strong>
					</h1>
					<nav>
						<ul class="menu">		
							<li><a href='/'>Inicio</a></li>
							<li><a href='/sistemas'>Servicios</a></li>
							<li><a href='/compa'>Gráficas</a></li>
							<li><a href="/tabla">Tablas</a></li>							
						</ul>
					</nav>
				</div>
			</div><div class="ic">Avici Web</div>
		</header>
		
	<section id="content">
			<div class="main">


	<div class="border-bot1 img-indent-bot"><h2>{{datos_servicio}}</h2>
<h1>Esta gráfica muestra el estado de las estaciones de una ciudad concreta con posibilidad de ver como cambia el estado a través del tiempo

 <h2> Datos Actuales de Uso</h2> </h1></div>

<div id="leyenda">
<table>
  <tr>
    <th>Icono</th>
    <th>Descripción</th> 
  </tr>
  <tr>
    <td><img src="/static/jpg/red.png" height="32" width="32"></td>
    <td>Disponibilidad de bicicletas menor de {{porc}}% </td> 
  </tr>
  <tr>
    <td><img src="/static/jpg/blue.png" height="32" width="32"></td>
    <td>Disponibilidad de huecos menor de {{porc}}% </td> 
  </tr>
    <tr>
    <td><img src="/static/jpg/green.png" height="32" width="32"></td>
    <td>Estado correcto</td> 
  </tr>
</table>
</div>
<div id="mapa">

        {{sndmap.html}}
</div>

</div>
</section>
</body>
</html>